/* profile.css */
.profile-card {
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
    background: white;
    transition: 0.3s;
}

.profile-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.profile-info p {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

#map {
    height: 400px; /* Set a fixed height */
    width: 100%; /* Set width to 100% of its container */
    border-radius: 8px;
    margin-top: 10px;
}